<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gadevang_Tennis_Klub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gadevang_Tennis_Klub.styles.css" asp-append-version="true" />

    <!-- To use the icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <style>
        .custom-navbar-css {
        background-color: #69841A !important; /* The color of the navbar */
        }

        /*body {
        background-color: #fffdfa; /* The color of the background */
        /*}*/

        thead th {
        border-bottom: 0 !important;
        background-color: #ededed !important; /* The color of all tables */
        }

        .nav-link {
        white-space: nowrap; /* Makes sure the menu titles stay in a single line (no wrapping) */
        }

        .nav-link::first-letter {
        font-size: 1.1em; /* Makes the first letter in the menu titles bigger */
        }

        .dropdown-toggle::after {
        color: white !important; /* Set login button arrows color to white */
        }

        /* Fixing the footer */
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        body > .container {
            flex: 1;
        }
    </style>
</head>
<body>
    @if (ViewData["ErrorMessage"] != null)
    {
        <script type="text/javascript">
            window.onload = function ()
            {
            alert("@ViewData["ErrorMessage"]");
            };
        </script>
        ViewData["ErrorMessage"] = null;
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 custom-navbar-css" style="margin:0; padding-top:0; padding-bottom:0; padding-right:10px;">
            <div class="container-fluid p-0 m-0">
                <!-- #region navbar logo -->
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="margin:0; padding:0;">
                    <img src="@Url.Content("~/Images/GadevangTennisklub2.png")" alt="Logo" style="min-width: 110px; max-width:300px; width:100%; height:auto;">
                </a>
                <!-- #endregion -->
                @*                 <a class="navbar-brand" asp-area="" asp-page="/Index">Gadevang Tennisklub</a> *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto text-uppercase">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/CourtBookings/CourtBookingTEST">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Informations/AboutUs">Om Klubben</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Events/Calendar">Kalender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/CourtBookings/Members/CreateMemberBooking">Banebooking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Informations/Gallery">Galleri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Informations/Rules">Tennisregler</a>
                        </li>
                        @if (string.IsNullOrEmpty(Context.Session.GetString("User")))
                        {
                            <a class="btn rounded-pill ms-3" asp-area="" asp-page="/User/Login"
                            style="background-color: #1b2e1b; padding: 10px 20px;">
                                <span class="text-light">Login</span>
                            </a>
                        }
                        else
                        {
                            <div class="dropdown">
                                <button type="button" class="btn rounded-pill dropdown-toggle ms-3" data-bs-toggle="dropdown"
                                style="background-color: #1b2e1b; padding: 10px 20px;">
                                    <span class="text-light">@Context.Session.GetString("User").Split('|')[2]</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a asp-area="" asp-page="/User/MyPage" class="dropdown-item" style="text-transform: none;">Mig</a>
                                    </li>
                                    @if (bool.Parse(Context.Session.GetString("User").Split('|')[1]))
                                    {
                                        <li>
                                            <hr class="dropdown-divider"></hr>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-page="/Members/GetAllMembers" class="dropdown-item" style="text-transform: none;">Medlemmer</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-page="/Courts/GetAllCourts" class="dropdown-item" style="text-transform: none;">Baner</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-page="/Trainers/ReadAllTrainers" class="dropdown-item" style="text-transform: none;">Trænere</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-page="/Teams/GetAllTeams" class="dropdown-item" style="text-transform: none;">Hold</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-page="/Events/GetAllEvents" class="dropdown-item" style="text-transform: none;">Begivenheder</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-page="/CourtBookings/Events/ViewEventCourtBookings" class="dropdown-item" style="text-transform: none;">Baner Bookede for Begivenheder</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-page="/CourtBookings/Teams/ViewTeamCourtBookings" class="dropdown-item" style="text-transform: none;">Baner Bookede for Hold</a>
                                        </li>
                                    }
                                    <li>     
                                      <hr class="dropdown-divider"></hr>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-page="/User/Logout" class="dropdown-item" style="text-transform: none;">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Gadevang Tennisklub - Gadevangsvej 145B - 3400 Hillerød @*  <a asp-area="" asp-page="/Privacy">Privacy *@</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>