@page
@using Gadevang_Tennis_Klub.Models
@model Gadevang_Tennis_Klub.Pages.Members.GetAllMembersModel
@{
    ViewData["Title"] = "Medlemmer";
}

<h1>Medlemmer</h1>

<hr />

<!-- Member count & Create Member button -->
<div class="row align-items-center mb-3">
    <div class="col">
        <p class="mb-0">Antal Medlemmer: @Model.Members.Count</p>
    </div>
    <div class="col text-end">
        <a asp-page="CreateMember" class="btn btn-success" role="button">Opret nyt medlem <i class="fas fa-plus-circle"></i></a>
    </div>
</div>

<br />

<title>Medlemmer</title>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Billede</th>
            @if (Model.IsAdmin)
            {
                <th>Id</th>
                <th>Er Admin</th>
            }
            <th>Navn</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Fødsels dag</th>
            <th>Sex</th>
            @if (Model.IsAdmin)
            {
                <th>Adresse</th>
                <th>Password</th>
            }
            <th>Hold</th>
            <th>bio</th>
            @if (Model.IsAdmin)
            {
                <th>Handlinger</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var member in await Model._memberDB.GetAllMembersAsync())
        {
            <tr>
                <td>
                    @if (member.Image == null)
                    {
                        <p>null</p>
                    }
                    else
                    {
                        <img class="img-fluid" src="~/Images/@member.Image" alt="@member.Name" style="max-width: 100px; max-height: 100px;" />
                    }
                </td>
                @if (Model.IsAdmin)
                {
                    <td>@member.Id</td>
                    <td>@member.IsAdmin</td>
                }
                <td>@member.Name</td>
                <td>@member.Phone</td>
                <td>@member.Email</td>
                <td>@member.Dob</td>
                <td>@member.Sex</td>

                @if (Model.IsAdmin)
                {
                    <td>@member.Address</td>
                    <td>@member.Password</td>
                }
                <td>
                    @{
                        string teams = "| ";
                        foreach (var team in await Model._teamDB.GetTeamsByMemberAsync(member.Id))
                        {
                            teams += team.Name + " | ";
                        }
                        <p>@teams</p>
                    }
                </td>
                <td>@member.Bio</td>
                @if (Model.IsAdmin)
                {
                    <td>
                        <a class="btn btn-primary btn-sm" title="Redigér medlem" asp-page="UpdateMember" asp-route-memberID=@member.Id><i class="fas fa-edit"></i></a>
                        @if (int.Parse(Model.User.Split('|')[0]) != member.Id)
                        {
                            <a class="btn btn-danger btn-sm" title="Slet medlem" asp-page="DeleteMember" asp-route-memberID=@member.Id><i class="fas fa-trash"></i></a>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<!-- JS function to show an image preview -->
<script>
    function previewImage(member) {
        const file = member.target.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            const image = document.getElementById('imagePreview');
            image.src = e.target.result;
            image.style.display = 'block'; // Show the image
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>