@page
@model AddParticipantModel
@{
    ViewData["Title"] = "Tilføj Deltager";
}

@{
    var booking = await Model.CourtBookingDB.GetCourtBookingByIDAsync(Model.BookingId);
    <p>@($"Booking på bane #{booking.Court_ID} på {booking.Date} fra klokken {booking.Timeslot + 6}.00 til {booking.Timeslot + 7}.00")</p>
}

<p>Nuværende deltagere:</p>
<ul>
    @foreach (var participant in (await Model.CourtBookingDB.GetCourtBookingByIDAsync(Model.BookingId)).Participants)
    {
        <li>
            @($"{participant.Name}")
        </li>
    }
</ul>
@if ((await Model.GetViableParticipants()).Count() != 0)
{
    <form method="post">
        <input hidden value="@Model.BookingId" id="bookingId" />
        <label for="memberId">Vælg en deltager:</label>
        <br />
        <select name="memberId" id="memberId">
            @foreach (var member in await Model.GetViableParticipants())
            {
                <option value="@member.Id">@member.Name</option>
            }
        </select>
        <input type="submit" class="button"/>
    </form>
}
else
{
    <p>Der er ikke flere deltager, som kan tilføjes.</p>
}
<a asp-page="/User/MyPage">Tilbage</a>