@page
@model Gadevang_Tennis_Klub.Pages.CourtBookings.Events.AddEventCourtBookingsModel
@inject Gadevang_Tennis_Klub.Services.OwnerData ownerData;
@{
    ViewData["Title"] = "Begivenhed-Book-Baner";
}
<div class="d-flex justify-content-between align-items-center">
    <h1>Opret hold booking af bane</h1>
    <a asp-page="ViewEventCourtBookings" class="btn btn-secondary" role="button"><i class="fas fa-chevron-left"></i> Tilbage</a>
</div>

<form method="post">
    <table>
        <tr>
            <label for="eventId">Vælg en Begivenhed:</label>
            <br />
            <select name="eventId" id="eventId">
                @foreach (var Event in await Model.EventDB.GetAllEventsAsync())
                {
                    @if (Event.ID == Model.EventId)
                    {
                        <option value="@Event.ID" selected>
                            @($"Hold ({Event.ID}): {Event.Title}, Dag: {DateOnly.FromDateTime(Event.Start)}, Tid: {Event.Start.Hour}.00 - {Event.End.Hour}.00")
                        </option>
                    }
                    else
                    {
                        <option value="@Event.ID">
                            @($"Hold ({Event.ID}): {Event.Title}, Dag: {DateOnly.FromDateTime(Event.Start)}, Tid: {Event.Start.Hour}.00 - {Event.End.Hour}.00")
                        </option>
                    }
                }
            </select>
        </tr>
        <br />
        <tr>
            <label for="courtId">Vælg en bane:</label>
            <br />
            <select name="courtId" id="courtId">
                @foreach (var court in await Model.CourtDB.GetAllCourtsAsync())
                {
                    @if (court.ID == Model.CourtId)
                    {
                        <option value="@court.ID" selected>
                            @($"Bane ({court.ID}): {court.Name}, Type: {court.Type}")
                        </option>
                    }
                    else
                    {
                        <option value="@court.ID">
                            @($"Bane ({court.ID}): {court.Name}, Type: {court.Type}")
                        </option>
                    }
                }
            </select>
            <br />
        </tr>
        <tr>
            <label for="timeslot" class="control-label">Tidsslot</label>
            <br />
            <select name="timeslot" id="timeslot">
                @for (int hour = ownerData.CourtsOpen; hour < ownerData.CourtsClose; hour++)
                {
                    @if (hour == Model.Timeslot)
                    {
                        <option value="@hour" selected>
                            @($"{hour}.00 - {hour + 1}.00")
                        </option>
                    }
                    else
                    {
                        <option value="@hour">
                            @($"{hour}.00 - {hour + 1}.00")
                        </option>
                    }
                }
            </select>
            <br />
        </tr>
        <br /> 
        <tr>
            @if (Model.Message != null)
            {
                <p class="text-danger">@Model.Message</p>
            }
            <button type="submit" class="btn btn-success">Opret <i class="fas fa-check"></i></button>
        </tr>
    </table>
</form>