@page
@model Gadevang_Tennis_Klub.Pages.Trainers.CreateTrainerModel
@{
    ViewData["Title"] = "Opret Træner";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Opret Træner</h1>
    <a asp-page="ReadAllTrainers" class="btn btn-secondary" role="button"><i class="fas fa-chevron-left"></i> Tilbage</a>
</div>
<form asp-page-handler="login" method="post">
    <table>
        <tr>
            <label asp-for="@Model.Trainer.Name" class="control-label">Navn</label>
            <br />
            <span asp-validation-for="@Model.Trainer.Name" class="text-danger"></span>
            <input asp-for="@Model.Trainer.Name" class="form-control" placeholder="Navn" />
        </tr>
        <tr>
            <label asp-for="@Model.Trainer.Phone" class="control-label">Telefon</label>
            <br />
            <span asp-validation-for="@Model.Trainer.Phone" class="text-danger"></span>
            <input asp-for="@Model.Trainer.Phone" class="form-control" placeholder="+45 -- -- -- --" />
        </tr>
        <tr>
            <label asp-for="@Model.Trainer.Email" class="control-label">Email</label>
            <br />
            <span asp-validation-for="@Model.Trainer.Email" class="text-danger"></span>
            <input asp-for="@Model.Trainer.Email" class="form-control" placeholder="Email@("@")email.dk" />
        </tr>
        <tr>

            <td><button type="submit" class="btn btn-success">Opret Medlem <i class="fa fa-check"></i></button></td>
        </tr>
    </table>
</form>
@if(Model.Message != null)
{
    <b class="text-danger">@Model.Message</b>
}