@page
@model Gadevang_Tennis_Klub.Pages.Trainers.DeleteTrainerModel
@{
    ViewData["Title"] = "Slet Træner";
}
<div class="d-flex justify-content-between align-items-center">
    <h1>Slet Træner</h1>
    <a asp-page="ReadAllTrainers" class="btn btn-secondary" role="button"><i class="fas fa-chevron-left"></i> Tilbage</a>
</div>
<br />
<label asp-for="@Model.Trainer.Id" class="control-label"></label>
<input asp-for="@Model.Trainer.Id" class="form-control" disabled />
<label asp-for="@Model.Trainer.Name" class="control-label"></label>
<input asp-for="@Model.Trainer.Name" class="form-control" disabled />
<label asp-for="@Model.Trainer.Phone" class="control-label"></label>
<input asp-for="@Model.Trainer.Phone" class="form-control" disabled />
<label asp-for="@Model.Trainer.Email" class="control-label"></label>
<input asp-for="@Model.Trainer.Email" class="form-control" disabled />
<form method="post">
    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
    <input type="hidden" name="trainerID" value="@Model.Trainer.Id" />
</form>
@if (Model.Message != null)
{
    <b class="text-danger">@Model.Message</b>
}