@page
@model Gadevang_Tennis_Klub.Pages.Trainers.UpdateTrainerModel
@{
    ViewData["Title"] = "Updater Træner";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Redigér Træner</h1>
    <a asp-page="ReadAllTrainers" class="btn btn-secondary" role="button"><i class="fas fa-chevron-left"></i> Tilbage</a>
</div>
<form method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <label asp-for="@Model.Trainer.Id" class="control-label"></label>
            <input asp-for="@Model.Trainer.Id" class="form-control" readonly/>
        </tr>
        <tr>
            <label asp-for="@Model.Trainer.Name" class="control-label">Navn</label>
            <br />
            <span asp-validation-for="@Model.Trainer.Name" class="text-danger"></span>
            <input asp-for="@Model.Trainer.Name" class="form-control" />
        </tr>
        <tr>
            <label asp-for="@Model.Trainer.Phone" class="control-label">Telefon</label>
            <br />
            <span asp-validation-for="@Model.Trainer.Phone" class="text-danger"></span>
            <input asp-for="@Model.Trainer.Phone" class="form-control" />
        </tr>
        <tr>
            <label asp-for="@Model.Trainer.Email" class="control-label">Email</label>
            <br />
            <span asp-validation-for="@Model.Trainer.Email" class="text-danger"></span>
            <input asp-for="@Model.Trainer.Email" class="form-control" />
        </tr>
        <div class="form-group">
            <label asp-for="@Model.Photo" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="@Model.Photo" class="custom-file-input form-control" onchange="previewImage(trainer)" />
            </div>
            <br />
            <!-- Image Preview -->
            <div>
                <img id="imagePreview" style="max-width: 200px; max-height: 200px; display: none;" />
            </div>
        </div>
        <tr>
            <td><button type="submit" class="btn btn-success">Gem Ændringer <i class="far fa-floppy-disk"></i></button></td>
        </tr>
    </table>
</form>

@if (Model.Message != null)
{
    <b class="text-danger">@Model.Message</b>
}

<!-- JS function to show an image preview -->
<script>
    function previewImage(trainer) {
        const file = trainer.target.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            const image = document.getElementById('imagePreview');
            image.src = e.target.result;
            image.style.display = 'block'; // Show the image
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>