@page
@model Gadevang_Tennis_Klub.Pages.Events.UpdateEventModel
@{
    ViewData["Title"] = "EditEvent";
}

<div class="card p-3 mx-auto" style="width:65%">

    <!-- Title & Return button -->
    <div class="d-flex justify-content-between align-items-center">
        <h1>Opdater begivenhed</h1>
        @if (!@Model.IsUpdated)
        {
            <a asp-page="GetEvent" asp-route-eventID=@Model.Event.ID class ="btn btn-secondary" role="button"><i class="fas fa-chevron-left"></i> Tilbage</a>
        }
    </div>

    @if (!@Model.IsUpdated)
    {
        <form method="post">

            <!-- Hidden field to save the Event ID -->
            <div class="form-group">
                <input asp-for="@Model.Event.ID" class="form-control" hidden />
            </div>

            <div class="form-group">
                <label asp-for="@Model.Event.Title" class="control-label">Titel*</label>
                <span asp-validation-for="@Model.Event.Title" class="text-danger"></span>
                <input asp-for="@Model.Event.Title" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="control-label">Beskrivelse*</label>
                <span asp-validation-for="@Model.Event.Description" class="text-danger"></span>
                <textarea asp-for="@Model.Event.Description" class="form-control" rows="3" style="max-height: 175px; overflow-y: auto;"></textarea>
            </div>
            <br />
            <div class="row mb-2">
                <div class="form-group col-md">
                    <label asp-for="@Model.Event.Start" class="control-label">Starttidspunkt*</label>
                    <span asp-validation-for="@Model.Event.Start" class="text-danger"></span>
                    <input asp-for="@Model.Event.Start" class="form-control" />
                </div>
                <div class="form-group col-md">
                    <label asp-for="@Model.Event.End" class="control-label">Sluttidspunkt*</label>
                    <span asp-validation-for="@Model.Event.End" class="text-danger"></span>
                    <input type="time" asp-for="@Model.Event.End" class="form-control" />
                </div>
                <div class="form-group col-md">
                    <label asp-for="@Model.Event.Capacity" class="control-label">Max tilmeldinger</label>
                    <input asp-for="@Model.Event.Capacity" class="form-control" min="0" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.Event.Location" class="control-label">Lokation*</label>
                <span asp-validation-for="@Model.Event.Location" class="text-danger"></span>
                <input asp-for="@Model.Event.Location" class="form-control" />
            </div>

            <br />

            <!-- Activities -->
            <div class="d-flex justify-content-between align-items-center">
                <h5>Aktiviteter</h5>
                <div class="formgroup">
                    <button type="submit" class="btn btn-primary btn-sm" asp-page-handler="AddActivity">Tilføj Aktivitet <i class="fas fa-plus-circle"></i></button>
                </div>
            </div>

            <br />

            <div id="activities-container">
                @for (int i = 0; i < Model.Activities.Count; i++)
                {
                    <!-- Hidden field to save the Activity ID -->
                    <div class="form-group">
                        <input asp-for="@Model.Activities[i].ID" class="form-control" hidden />
                    </div>

                    <div class="card p-3 mx-auto" style="width:90%">
                        <div class="form-group d-flex justify-content-between align-items-center">
                            <div class="form-group" style="width:80%">
                                <label asp-for="@Model.Activities[i].Title" class="control-label">Titel*</label>
                                <span asp-validation-for="@Model.Activities[i].Title" class="text-danger"></span>
                                <input asp-for="@Model.Activities[i].Title" class="form-control" />
                            </div>
                            <div class="formgroup" style="margin-top: 20px">
                                <button type="submit" class="btn btn-danger btn-sm" asp-page-handler="RemoveActivity">Fjern</button>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <div class="col-md">
                                <label asp-for="@Model.Activities[i].Start" class="control-label">Starttidspunkt*</label>
                                <span asp-validation-for="@Model.Activities[i].Start" class="text-danger"></span>
                                <input asp-for="@Model.Activities[i].Start" class="form-control" min="@Model.Event.Start.ToString("HH:mm")" max="@Model.Event.End.ToString("HH:mm")" />
                            </div>
                            <div class="col-md">
                                <label asp-for="@Model.Activities[i].End" class="control-label">Sluttidspunkt*</label>
                                <span asp-validation-for="@Model.Activities[i].End" class="text-danger"></span>
                                <input type="time" asp-for="@Model.Activities[i].End" class="form-control" min="@Model.Activities[i].Start.ToString("HH:mm")" max="@Model.Event.End.ToString("HH:mm")" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Activities[i].Description" class="control-label">Beskrivelse*</label>
                            <span asp-validation-for="@Model.Activities[i].Description" class="text-danger"></span>
                            <textarea asp-for="@Model.Activities[i].Description" class="form-control" rows="2" style="max-height: 100px; overflow-y: auto;"></textarea>
                        </div>
                    </div>
                }
            </div>

            <!-- Hidden fields to save the DeletedActivities list -->
            @for (int i = 0; i < Model.DeletedActivities.Count; i++)
            {
                <input type="hidden" name="DeletedActivities[@i]" value="@Model.DeletedActivities[i]" />
            }

            <br />
            <div class="formgroup">
                <button type="submit" class="btn btn-success" asp-page-handler="UpdateEvent">Bekræft <i class="fas fa-floppy-disk"></i></button>
            </div>
        </form>
    }
    else
    {
        <p>Begivenheden er blevet opdateret.</p>

        <a asp-page="GetEvent" asp-route-eventID=@Model.Event.ID class="btn btn-success w-auto align-self-start">Videre</a>
    }
</div>