@page
@model Gadevang_Tennis_Klub.Pages.Courts.CreateCourtModel
@{
    ViewData["Title"] = "Opret Bane";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Opret Bane</h1>
    <a asp-page="GetAllCourts" class="btn btn-secondary" role="button"><i class="fas fa-chevron-left"></i> Tilbage</a>
</div>
<form asp-page-handler="Create" method="post" enctype="multipart/form-data">
    <table>
        <div>
            <label asp-for="@Model.Court.Type" class="control-label">Type</label>
            <br />
            <span asp-validation-for="@Model.Court.Type" class="text-danger"></span>
            <select asp-for="@Model.Court.Type" class="form-control">
                <option value="Indendørs Tennis">Indendørs Tennis</option>
                <option value="Udendørs Tennis">Udendørs Tennis</option>
                <option value="Indendørs Padel">Indendørs Padel</option>
                <option value="Udendørs Padel">Udendørs Padel</option>
            </select>
        </div>

        <br />

        <div>
            <label asp-for="@Model.Court.Name" class="control-label">Navn</label>
            <br />
            <span asp-validation-for="@Model.Court.Name" class="text-danger"></span>
            <input asp-for="@Model.Court.Name" class="form-control" />
        </div>

        <br />

        <td><button type="submit" class="btn btn-success">Opret Bane <i class="fa fa-check"></i></button></td>

    </table>
</form>
@if (Model.Message != null)
{
    <b class="text-danger">@Model.Message</b>
}